
.vs/autoken/v14/.suo
debug/autoken.exe
debug/autoken.pdb
debug/autoken.vshost.exe
debug/autoken.vshost.exe.manifest
debug/DotNetOpenAuth.dll
debug/Google.Apis.Authentication.OAuth2.dll
debug/Google.Apis.dll
debug/Google.Apis.Drive.v2.dll
debug/Google.Apis.Oauth2.v2.dll
debug/Newtonsoft.Json.Net35.dll
debug/PresentationCore.dll
debug/PresentationFramework.dll
debug/ReachFramework.dll
debug/System.Core.dll
debug/System.Data.dll
debug/System.Data.Entity.dll
debug/System.Data.Linq.dll
debug/System.Data.Services.Client.dll
debug/System.Data.Services.Design.dll
debug/System.dll
debug/System.IdentityModel.dll
debug/System.IdentityModel.Selectors.dll
debug/System.Printing.dll
debug/System.Runtime.Serialization.dll
debug/System.ServiceModel.dll
debug/System.ServiceModel.Web.dll
debug/System.Speech.dll
debug/System.Threading.dll
debug/System.Web.Abstractions.dll
debug/System.Web.dll
debug/System.Web.Extensions.dll
debug/System.Web.Routing.dll
debug/System.Xml.dll
debug/System.Xml.Linq.dll
debug/UIAutomationProvider.dll
debug/UIAutomationTypes.dll
debug/WindowsBase.dll
obj/Debug/autoken.csproj.FileListAbsolute.txt
obj/Debug/autoken.csprojResolveAssemblyReference.cache
obj/Debug/autoken.exe
obj/Debug/autoken.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
